body{
    background-image: url(/NEW\ PROJECT/HTML/img/ThankYou.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    font-family: 'Times New Roman', Times, serif;
}